@use '../util/' as u;

.button {
  display: inline-block;
  font-size: u.rem(18);
  line-height: 1;
  letter-spacing: 0.05em;
  padding: u.rem(16) u.rem(80);
  border-radius: u.rem(24);

  @include u.breakpoint(medium) {
    font-size: u.rem(16);
    padding: u.rem(20) u.rem(96);
  }

  &.primary {
    background: linear-gradient(60deg, var(--gradient1) -50%, var(--gradient2) 100%);
    color: var(--button-primary-text);

    &:hover {
      background: linear-gradient(60deg, var(--gradient1) -50%, var(--gradient1) 100%);
      color: var(--button-primary-text);
    }
  }

  &.secondary {
    background-color: transparent;
    border: u.rem(2) solid var(--button-secondary-border);
    color: var(--button-secondary-text);

    &:hover {
      background-color: var(--button-secondary-bg-hover);
      color: var(--button-secondary-text-hover);
    }
  }
}
